@page "/"

<h1>Witaj wędkarzu!</h1>
<p>To jest prosta strona stworzona w technologii Blazor WebAssembly.</p>

<div class="card">
    <h2>Szymon Zakrzewicz</h2>
    <p>Numer albumu: <strong>123804</strong></p>
</div>

<p>Sprawdź prognozy pogody, planuj wypady i dziel się wynikami z innymi pasjonatami!</p>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #e0f2f1;
        padding: 20px;
    }

    .card {
        background-color: #ffffff;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        margin: 20px 0;
    }
</style>
